body {
  box-sizing: border-box;
  color: #c9cacc;
  background-color: #1b1b1b;
  font-size: 15px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100vh;
  margin: 0 auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

nav {
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  /* width: 70%; */
}

nav a {
  text-decoration: none;
  border: 1px solid yellow;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #c9cacc;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0em;
}

nav a:hover {
  background-color: #2a9d8f;
  transition: 150ms ease-in;
}

header {
  background-color: #1b1b1b;
  color: #c9cacc;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  line-height: 1.75rem;
  border-top: 1.5px solid #666;
  border-bottom: 1.5px solid #666;
}

header img {
  width: 100px;
  border: 5px solid #666;
  border-radius: 165px;
}

h1 {
  line-height: 2rem;
  /* border: 1px solid red; */
  /* margin: .5rem auto; */
  /* justify-content: space-evenly; */
  /* text-align: center; */
  letter-spacing: 0.01rem;
}

h1 a {
  font-size: 3rem;
  color: #c9cacc;
  text-decoration: none;
}

h1 a:hover {
  color: #2a9d8f;
}

header h2 {
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}

h2,
h3,
h4 {
  letter-spacing: 0.01rem;
}

#aboutMe {
  border: 2px solid white;
  padding: 1.5rem;
  letter-spacing: 0.01rem;
}

#bio {
  border: 1px solid purple;
  padding: 1.5rem;
  text-align: start;
}

#bio h4 {
  color: #666;
}
#bio ul {
  line-height: 1.35rem;
  font-weight: 200;
}

#contact {
  /* justify-content: space-between; */
  border: 1px solid red;
  padding: 1.5rem;
}

.contactLinks li {
  display: inline;
}

.contactLinks a {
  color: #c9cacc;
  text-decoration: none;
  border-bottom: 1px solid #c9cacc;
}

.contactLinks a:hover {
  font-weight: 600;
  border-bottom: 2px solid #c9cacc;
}

#projects {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding: 1.5rem;
}

#projects h2 {
  margin: 0;
  padding: 1.5rem;
  border: 1px solid #3d405b;
}

.project-item {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  /* padding: 1.5rem; */
}

.project-item a {
  color: #c9cacc;
  text-decoration: none;
}

.project-item a:hover {
  color: #2a9d8f;
}

#projects h3 {
  border: 1px solid brown;
  text-align: left;
  margin: 0 auto;
  padding: 1.5rem;
}

.project-skills {
  color: #666;
  border: 1px solid red;
  list-style: none;
  width: 66%;
  margin: 0 auto;
  line-height: 1.25rem;
  text-align: start;
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.project-item img {
  width: 100%;
  border: 2px solid red;
  margin: auto;
}

footer {
  color: #666;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 1px dotted red;
  padding: 1.5rem;
  height: 100px;
}

#copyright {
  border: 1px solid yellow;
  letter-spacing: 0.1rem;
}

#footLinks {
  border: 1px solid blue;
  letter-spacing: 0.8rem;
}

#footLinks a {
  color: #666;
}

#footLinks a:hover {
  color: #c9cacc;
  transition: 160ms ease-in;
}

@media (min-width: 768px) {
  #wrapper {
  }
  nav {
    display: flex;
  }

  nav a {
    margin: auto;
    flex: 4;
    justify-content: flex-start;

    /* justify-content: space-between; */
  }

  nav li {
    display: inline-block;
  }

  nav ul {
    display: flex;
    flex: 2;
  }

  #aboutMe {
    display: flex;
  }

  .contactLinks {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  #wrapper {
    width: 920px;
  }

  nav {
    /* width: 150%; */
    /* text-align: center; */
  }
}
