body {
  color: #c9cacc;
  background-color: #1b1b1b;
  font-size: 15px;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: #c9cacc;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.18rem;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2a9d8f;
  transition: 150ms ease-in;
}

header {
  background-color: #1b1b1b;
  color: #c9cacc;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  line-height: 1.75rem;
  border-top: 1.5px solid #666;
  border-bottom: 1.5px solid #666;
}

header img {
  width: 100px;
  border: 5px solid #666;
  border-radius: 165px;
}

h1 {
  /* border: 1px solid red; */
  margin: 0.5rem;
  letter-spacing: 0.01rem;
}

h1 a {
  font-size: 3rem;
  color: #c9cacc;
  text-decoration: none;
}

h1 a:hover {
  color: #2a9d8f;
}

header h2 {
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}

h2,
h3,
h4 {
  letter-spacing: 0.01rem;
}

/* h2 {
  font-size: 1.3rem;
} */

main {
  width: 620px;
  margin: 0 auto;
}

#aboutMe {
  display: flex;
  border: 2px solid black;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.01rem;
}

#bio {
  flex: 3;
  border: 1px solid purple;
  padding: 1.5rem;
  text-align: start;
}

#bio h4 {
  color: #666;
}
#bio ul {
  line-height: 1.35rem;
  font-weight: 200;
}

#contact {
  flex: 1;
  border: 1px solid red;
  text-align: end;
  margin: 0 auto;
  padding: 1.5rem;
}

.contactLinks li {
  list-style: none;
  line-height: 2rem;
  letter-spacing: 0.01rem;
}

.contactLinks a {
  color: #c9cacc;
  text-decoration: none;
  border-bottom: 1px solid #c9cacc;
}

.contactLinks a:hover {
  font-weight: 600;
  border-bottom: 2px solid #c9cacc;
}

#projects {
  border: 2px solid green;
  padding: 1.5rem;
}

#projects h2 {
  margin: 0 auto;
  padding: 1.5rem;
  border: 1px solid #3d405b;
}

.project-item {
  border: 1px solid blue;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  padding: 1.5rem;
}

.project-item a {
  color: #c9cacc;
  text-decoration: none;
}

.project-item a:hover {
  color: #2a9d8f;
}

#projects h3 {
  border: 1px solid brown;
  text-align: left;
  margin: 0 auto;
  /* padding: 1rem; */
}

#projects h4 {
  font-weight: 400;
}

.project-skills {
  color: #666;
  border: 1px solid red;
  list-style: none;
  width: 33%;
  margin: 1.5rem auto;
  text-align: end;
  float: left;
  line-height: 1.15rem;
}

.project-item img {
  max-height: 200px;
  /* width: 45%; */
  border: 2px solid red;
  margin: 1rem auto;
}

footer {
  color: #666;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 1px dotted red;
  padding: 1.5rem;
  height: 100px;
}

#copyright {
  border: 1px solid yellow;
  letter-spacing: 0.1rem;
}

#footLinks {
  border: 1px solid blue;
  letter-spacing: 0.8rem;
}

#footLinks a {
  color: #666;
}

#footLinks a:hover {
  color: #c9cacc;
  transition: 160ms ease-in;
}
