.App {
	@include respond-below(xs) {
		@media (prefers-reduced-motion: no-preference) {
			animation: appScale 500ms alternate 1 ease forwards;
		}
		@keyframes appScale {
			from {
				transform: scale(1.09);
			}
			to {
				transform: scale(1);
			}
		}
	}
}

#headshot {
	@include respond-above(xs) {
		@media (prefers-reduced-motion: no-preference) {
			// animation: App-logo-spin 1 1250ms ease-in-out;
			animation: appScale 333ms alternate 3 ease forwards;
		}

		// @keyframes App-logo-spin {
		//     from {
		//         transform: rotateY(0deg);
		//     }
		//     to {
		//         transform: rotateY(360deg);
		//     }
		// }

		@keyframes appScale {
			from {
				transform: scale(1);
			}
			to {
				transform: scale(1.4);
			}
		}
	}
}

.profile__about,
.profile__skills,
#projects {
	@include respond-below(xs) {
		animation: lowerApp 1000ms normal 1 ease-out backwards;
		@keyframes lowerApp {
			from {
				transform: translateY(300px);
			}
			to {
				transform: translateY(0px);
			}
		}
	}
}

.bio__contacts {
	animation: fadeInAnimation ease-out 2000ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	@keyframes fadeInAnimation {
		0% {
			opacity: 0.1;
		}
		100% {
			opacity: 1;
		}
	}
}
