$background-dark: #272727;
$background-light: #f7f9fb;

$color-dark: #272727;
$color-light: #fafafa;

$color-dark2: #1b1b1b;

$color-grey: #707171;

$color-lgrey: #c9cacc;
$color-blue: #61dafb;
$color-green: #2bf3c4;

$green: #2bf3c4;
$green2: #27bb98;
$green3: #238770;
$green4: #1f4b40;

$black: #1b1b1b;
$black2: #272727;

$grey: #4b4b4b;
$grey2: #707171;
$grey3: #999a9a;
$grey4: #c5c6c6;

$white: #fafafa;
$white2: #f7f9fb;

$fs-xs: 0.5rem;
$fs-sm: 0.8rem;
$fs-md: 1rem;
$fs-lg: 1.8rem;
$fs-xl: 2.3rem;

$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;

$weight-norm: 400;
$weight-mid: 500;
$weight-heavy: 700;

$transition-hl: 150ms ease;

$shadow-360: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
$shadow-360-og: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
$shadow-360-inset: inset -10px -20px 20px 1px rgba(0, 0, 0, 0.2);

$sw-width: 50px;
$sw-padding: 6px;
$sw-height: $sw-width / 2 + $sw-padding;
